apache-beam==2.12.0
avro==1.8.2
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
certifi==2019.3.9
chardet==3.0.4
crcmod==1.7
decorator==4.4.0
dill==0.2.9
docopt==0.6.2
enum34==1.1.6
fastavro==0.21.22
funcsigs==1.0.2
future==0.17.1
futures==3.2.0
grpcio==1.20.1
hdfs==2.5.1
httplib2==0.11.3
idna==2.8
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
jupyter-client==5.2.4
jupyter-core==4.4.0
mock==2.0.0
numpy==1.16.3
oauth2client==3.0.0
pathlib2==2.3.3
pbr==5.2.0
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.16
protobuf==3.7.1
ptyprocess==0.6.0
pyarrow==0.11.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pydot==1.2.4
Pygments==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyVCF==0.6.8
PyYAML==3.13
pyzmq==18.0.1
requests==2.21.0
rsa==4.0
scandir==1.10.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
tornado==5.1.1
traitlets==4.3.2
typing==3.6.6
urllib3==1.24.2
wcwidth==0.1.7
